

@font-face {
    font-family: apercu;
    src: url(/fonts/apercu_bold_italic_pro.otf);
    font-weight: bold;
}
@font-face {
    font-family: apercu;
    src: url(/fonts/apercu_bold_pro.otf);
    font-weight:bolder
}
@font-face {
    font-family: apercu;
    src: url(/fonts/apercu_medium_italic_pro.otf);
    font-style: italic;
}
@font-face {
    font-family: apercu;
    src: url(/fonts/apercu_medium_pro.otf);
    font-weight: 500;
}
@font-face {
    font-family: apercu;
    src: url(/fonts/apercu_regular_italic_pro.otf);
    font-style: italicer;
}

@font-face {
    font-family: apercu;
    src: url(/fonts/apercu_regular_pro.otf);
    font-weight:300
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: apercu, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}


nav {
    position: sticky;
    top: 0; 
    background-color: white;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.menu-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menu-middle {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    justify-content: center;
    gap: 30px;
}

.menu-middle a {
    text-decoration: none;
    color: black;
}

.menu-middle a:hover {
    color: slategray;
}

.dropdown-container {
position: relative;
}

.dropdown {
    position: absolute;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    visibility: hidden;
    padding-top: 30%;
    z-index: 20;
    opacity: 0;
    transition: 
        opacity 0.3s ease, 
        height 0.6s ease, 
        transform 0.6s ease;
    transform: translateY(-20px);
}

.dropdown-container:hover .dropdown,
.dropdown:hover {
    visibility: visible;
    opacity: 1;
    height: 600px;
    width: 600px;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown-container:hover .arrow {
    transform: rotate(180deg);
}

.dropdown a {
    font-size: 16px;
    font-weight: 100;
    display: block;
}

.links-middle-menu {
    font-size: 16px;
    color: rgb(95, 94, 94);
}

.first-link-middle-menu {
    font-size: 16px;
    color: rgb(95, 94, 94);
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    padding: 5%;
}

.links-small {
    font-size: 12px;
    font-weight: 100;
    color: rgb(95, 94, 94);
    text-align: left;
    padding-bottom: 16px;
}

.vl {
    border-left: 1px solid rgb(0, 0, 0);
    height: 100%;
    position: absolute;
    left: 50%;
    top: 10%;
}

.arrow {
    transition: transform 0.3s ease;
    vertical-align: middle;
}


.right-arrow {
   display: flex;
}

.menu-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    gap: 25px;
}

.sign-up {
    background-color: rgb(63, 83, 44);
    border-radius: 10px;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.sign-up:hover {
    background-color: rgb(197, 219, 187);
}

.log-in{
    color: black;
    text-decoration: none;
}


.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    cursor: pointer;
  }
  
  .hamburger span {
    display: block;
    height: 3px;
    background: black;
    border-radius: 2px;
  }
  

  /* -------------- Mobile Adjustments -------------- */


  @media (max-width: 768px) {
    .menu {
        align-items: center;
        padding: 5px;
    }
  
    .menu-left {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

    }

    .menu-left img {
        width: 100%;
      }
  
    .hamburger {
      display: flex;
    }
  
    .menu-middle {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
        gap: 20px;
        position: absolute;
        top: 100%; 
        left: 0;
        background-color: white; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        z-index: 1000; 
        padding: 20px 0; 
      }
  
    .menu-middle.active {
      display: flex;
    }
  
    .menu-right {
      width: 100%;
      justify-content: flex-end;
      gap: 20px;
    }
  

    .dropdown {
        position: static;
        visibility: visible;
        opacity: 1;
        height: auto;
        width: 100%;
        box-shadow: none;
        transform: none;
        padding: 10px 0;
      }
  
    .dropdown-container:hover .dropdown {
      visibility: visible;
    }
  
    .vl {
      display: none;
    }
  
    .arrow {
      display: none;
    }
  }
  

/* -------------- First Viewport -------------- */

  .first-vp-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 9% 0;
    gap: 70px;
}

.first-vp-container video {
    display: flex;
    flex-direction: row;
    width:50%;
    height: auto ;
}

.matn {
flex-direction: column;
font-size: 20px;
line-height: 1.25;
max-width: 80%;
}

text-content {
justify-content: left;
display: flex;
}
    
.titr {
flex-direction: column;
margin: 0;
padding: 0;
line-height: 1;
font-size: 50px;
text-align: left;
max-width: 70%;
}
    
.content-button {
background-color: black;
flex-direction: column;
color: white;
border-radius: 10px;
cursor: pointer;
font-size: 18px;
padding:15px;
margin-top: 2%;
}
        
button:hover {
background-color: rgb(126, 123, 123);
}

/* -------------- Second Viewport -------------- */

.second-vp-logos {
display: flex;
justify-content: center;
align-items: center;
gap: 40px;
}

.second-vp-description {
justify-content: center;
display: flex;
font-size: 20px;
margin-bottom: 60px;
}
    
.second-vp-logos img {
width: 10%;
height: auto;
}

.second-vp-text {
    font-size: 30px;
    text-align: center;
    max-width: 30%;
    padding-top: 80px;
    margin: auto;
    align-items: center;
}

/* -------------- Third Viewport -------------- */

.third-vp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
}

.vp-title{
color: #ba6dd7;
font-size: 16px;
}

.vp-description {
    font-size: 30px;
    line-height: 1.25;
    max-width: 400px;
}

.vp-content {
    line-height: 1.5;
    max-width: 500px;
    margin-top: 10px;
    font-size: 18px;
}

.third-vp-container button {
    background-color: black;
    flex-direction: column;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    padding: 12px;
    max-width: 130px;
}

.third-vp-container video {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: auto ;
    padding-left: 100px;
}


/* -------------- Fourth Viewport -------------- */

.fourth-vp-container video {
    width: 45%;
    height: auto ;
}

.fourth-vp-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    padding: 0 0 10% 0;
}

.fourth-vp-container button {
    background-color: black;
    flex-direction: column;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    padding: 12px;
    width: 150px;
}


/* -------------- Mobile Adjustments -------------- */

@media (max-width: 768px) {

    .menu-right {
        font-size: small;
    }
.first-vp-container {
flex-direction: column;
padding: 5% 0;
gap: 30px;
}

.text-content {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}

.first-vp-container video {
width: 100%;
height: auto;
    }

.matn {
font-size: 16px;
line-height: 1.4;
max-width: 90%;
text-align: center;
    }

.titr {
font-size: 25px;
max-width: 70%;
text-align: center;
    }

    .content-button {
width: 50%;
font-size: 16px;
padding: 12px;
    }

.second-vp-description {
font-size: 16px;
margin: 20px;
}

.second-vp-text {
padding: 20px;
font-size: 18px;
max-width: 300px;
}

.third-vp-container, .fourth-vp-container {
    display: block;
    padding: 20px;
}

.vp-texts {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vp-title, .vp-description, .vp-content {
    max-width: max-content;
}

.third-vp-container video {
    width: 100%;
    padding: 0;
}

.fourth-vp-container video {
width: 100%;
padding: 0;
}
}